In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import sys
module_path = os.path.abspath(os.path.join('..', 'getfiles')) # .. goes up one directory
if module_path not in sys.path:
    sys.path.append(module_path)

from download_zip import extract_all_zips_in_directory,download_data

from pathlib import Path

In [2]:
path_dowload = r'd:\BagPricePrediction\Project\data'

In [3]:
# download_data(path_dowload,"playground-series-s5e2")
# extract_all_zips_in_directory(path_dowload)

In [43]:
train_path = os.path.join(path_dowload,'train.csv')

train = pd.read_csv(train_path)

In [44]:
train.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [45]:
train = train.drop('id', axis = 1)

In [46]:
train.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [47]:
extra_train_path = os.path.join(path_dowload,'training_extra.csv')
extra_train = pd.read_csv(extra_train_path)

In [48]:
extra_train.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,500000,Under Armour,Canvas,Small,10.0,Yes,Yes,Tote,Blue,23.882052,114.11068
1,500001,Puma,Polyester,Small,4.0,No,Yes,Backpack,Green,11.869095,129.74972
2,500002,Jansport,Polyester,Small,8.0,Yes,Yes,Tote,Red,8.092302,21.37370
3,500003,Nike,Nylon,Large,7.0,No,No,Messenger,Pink,7.719581,48.09209
4,500004,Nike,Leather,Large,9.0,No,Yes,Tote,Green,22.741826,77.32461

In [49]:
extra_train = extra_train.drop('id', axis = 1)

In [50]:
train_total = pd.concat((train,extra_train)).drop_duplicates()

In [51]:
train_total.shape

(3994318, 10)

In [52]:
col_containing_blank_values = train_total.isnull().sum().index

In [54]:
train_total.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3994318 entries, 0 to 3694317
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Brand                 object
 1   Material              object
 2   Size                  object
 3   Compartments          float64
 4   Laptop Compartment    object
 5   Waterproof            object
 6   Style                 object
 7   Color                 object
 8   Weight Capacity (kg)  float64
 9   Price                 float64
dtypes: float64(3), object(7)
memory usage: 335.2+ MB

In [55]:
from helper_func import replace_Nan_values

for columns in col_containing_blank_values:
    replace_Nan_values(train_total,columns)

In [56]:
train_total[col_containing_blank_values].isnull().sum()

Brand                   0
Material                0
Size                    0
Compartments            0
Laptop Compartment      0
Waterproof              0
Style                   0
Color                   0
Weight Capacity (kg)    0
Price                   0
dtype: int64